<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title-section">Kata Mereka</div>
            </div>
        </div>
        <div class="testimonial-content">
            <swiper-container pagination="true" pagination-dynamic-bullets="true" space-between="30" #sliderTesti>
                @for(testimonial of testimonials; track testimonial){
                <swiper-slide>
                    <div class="testimonial-container">
                        <div class="testimonial-card">
                            <div class="image-container">
                                <img [src]="testimonial.image" class="testimonial-image">
                            </div>
                            <div class="name-and-testimonial">
                                <p class="speach-content">
                                    {{testimonial.testimonial}}
                                </p>
                                <p class="name">{{testimonial.name}}</p>
                                <p class="role">{{testimonial.role}} - Lulus {{testimonial.graduationDate}}</p>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                }
            </swiper-container>
        </div>
    </div>
</div>