<div class="about-section" id="aboutId">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="images/headmaster.jpg" alt="head master" class="header-master">
            </div>
            <div class="col">
                <div class="headmaster-speach">
                    <div class="quote-container left-quote">
                        <img src="images/quote.png" alt="quote" class="quote">
                    </div>
                    <div class="speach-container">
                        <p class="speach-content">
                            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum mollitia possimus corrupti
                            fuga soluta beatae voluptatum, corporis voluptatibus. Pariatur voluptate eaque quia voluptas
                            dolore ipsum vero aperiam doloremque provident officia"
                        </p>
                    </div>
                    <div class="quote-container right-quote">
                        <img src="images/quote.png" alt="quote" class="quote">
                    </div>
                    <div class="footer">
                        <p class="name">Randi Febriadi</p>
                        <p class="role">Web Programmer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>