<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="map-container">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.7838380799437!2d100.31469197513216!3d-0.6422323221989239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2fd4def1e0c33c69%3A0xf8dd31cb7f6d712a!2sMASJID%20RAYA%20TAQWA!5e0!3m2!1sid!2sid!4v1716692575654!5m2!1sid!2sid"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
                </div>
            </div>
            <div class="col">
                <div class="social-media">
                    <h2>School Name</h2>
                    <address>
                        Your Address
                    </address>
                    <div class="list-social-media">
                        <button class="social-media-btn">
                            <i class="fa-brands fa-facebook"></i>
                        </button>
                        <button class="social-media-btn">
                            <i class="fa-brands fa-instagram"></i>
                        </button>
                        <button class="social-media-btn">
                            <i class="fa-brands fa-twitter"></i>
                        </button>
                        <button class="social-media-btn">
                            <i class="fa-brands fa-linkedin"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>