<mat-toolbar class="tiny-information-section" id="headerId">
    <span class="section-email">
        <i class="fa-regular fa-envelope"></i>EmailSekolah&#64;gmail.com
    </span>
    <span class="section-phone">
        <i class="fa-solid fa-phone"></i> 085397054275
    </span>
    <span class="spacer"></span>
    <div class="information-flag">
        <img src="images/id.png" alt="indonesian flag" class="flag indonesian-flag">
        <img src="images/ui.png" alt="british flag" class="flag british-flag">
    </div>
</mat-toolbar>