<div class="achievment-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Our Achievements</h1>
            </div>
        </div>
        <div class="image-grid-wrapper">
            <div class="image-grid">
                <div class="achievement-1">
                    <div class="achievementOverlay"></div>
                    <div class="achievement-description">
                        <h1>Judul</h1>
                        <p>Lorem, ipsum.</p>
                    </div>
                </div>
                <div class="achievement-2">
                    <div class="achievementOverlay"></div>
                    <div class="achievement-description">
                        <h1>Judul</h1>
                        <p>Lorem, ipsum.</p>
                    </div>
                </div>
                <div class="achievement-3">
                    <div class="achievementOverlay"></div>
                    <div class="achievement-description">
                        <h1>Judul</h1>
                        <p>Lorem, ipsum.</p>
                    </div>
                </div>
                <div class="achievement-4">
                    <div class="achievementOverlay"></div>
                    <div class="achievement-description">
                        <h1>Judul</h1>
                        <p>Lorem, ipsum.</p>
                    </div>
                </div>
                <div class="achievement-5">
                    <div class="achievementOverlay"></div>
                    <div class="achievement-description">
                        <h1>Judul</h1>
                        <p>Lorem, ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>